export(rang)
export(rang_palettes)
export(colorblind_friendly)
export(rang_pal)
export(rang_ramp)
export(scale_fill_rang_d)
export(scale_color_rang_d)
export(scale_colour_rang_d)
export(scale_fill_rang_c)
export(scale_color_rang_c)
export(scale_colour_rang_c)
S3method(print, palette)
importFrom(grDevices, colorRampPalette, rgb)
importFrom(graphics, image, par, rect, text)
